@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

body{
background-image: url(kepek/egyeb/banner1.png);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: 50% 50%
}

header{
background-color: #1f5b25 ;
background-size: cover;
padding: 15px;
position: fixed;
z-index: 5;
width: 100%;
height:6em;
}

.fejlec-menugomb{
border: 0;
background-color: transparent;
padding: 10px;
}

.fejlec-menu{
width: 3em;
}

.fejlec-cim{
color:white;
font-family: 'Roboto', sans-serif ;
font-size: 2em;   
text-decoration: none;
font-style: bold;
position: fixed;
right: 0;
}

.main-cim{
color:white;
font-family: 'Roboto', sans-serif ;
font-size: 2em;   
position: relative;
padding: ;
}