body{
position: fixed;        
width: 886px;
height: 1138px;
background-repeat: no-repeat;
overflow-y: scroll;
background-position: 8px 20px;
background-color: white;
}
    
header{
width: 886px;
height: 81px;
background-repeat: no-repeat;
position: fixed;
background-color:#0D3509;
}
    
.fejlecgomb{
border:0;
background-color: white ;
width: 100pt;
height: 25pt;
font-size: 16pt;
font-family: 'Inika';
margin: 20px 5px
}
          
.logo{
color:white;
font-family: 'Inika' ;
font-size: 28px;
padding: 0;
margin:0px 0px 0px 95px;
}
    
.bannerkep{
width: 886px;
height: 199px;
border:0;
padding: 0;
margin:80px 0px 0px 0px;
}
    
h1{
font-size: 48px;
font-family: 'Inika';
text-align: center;
padding: 0px ;
color: black;
margin:10px 0px 10px 0px ;
}
    
section{
background-color: antiquewhite;
width: 886px;
height: 654px; ;
padding:1px 0px 0px 0px;
margin:0px 0px 0px 0px ;
position: relative;
}
    
.kaveszoveg{
color:white;
font-family: 'Inika';
font-size:24px;
text-align: center;
background-color: #D9D9D9;
padding:0;
margin:0px 40px 20px 40px ;
border-radius: 10px;
}
    
.kavetablazat-table{
margin-left: auto;
margin-right: auto;
}
    
.kavetablazat-td{
margin: 0px 10px 0px 0px;
}
    
.kepek-kave{
border-radius: 10px;
border:1;
padding:0px 0px 0px 0px ;
margin:0px 40px;
}
    
.footerszoveg-kapcsolat1{
color:black;
font-family: 'Inika';
background-color:  #D9D9D9;
font-size: 28px; 
text-align: left;
margin:0px 90px 10px 0px;
padding: 0px 20px 0px 0px ;
 }
    
 .footerszoveg-kapcsolat2{
color:black;
font-family: 'Inika';
background-color:  #D9D9D9;
font-size:24px;
text-align: left;
margin:0px 0px 0px 0px ;
}
    
.footerszoveg-kavemagazin1{
color:black;
font-family: 'Inika';
background-color:  #D9D9D9;
font-size: 28px;
text-align: center;
margin:0px 130px 10px 110px ;
}
    
.footerszoveg-kavemagazin2{
color:black;
font-family: 'Inika';
background-color:  #D9D9D9;
font-size:24px;
text-align: right;
margin:0px 0px 10px 100px ;
}
    
.footerszoveg-kavemagazin3{
color:black;
font-family: 'Inika';
background-color:  #D9D9D9;
font-size:24px;
text-align: right;
margin:0px 0px 0px 100px ;
}
    
footer{

background-color: #0D3509;
}
    
.footertablazat-table{
margin-left: auto;
margin-right: auto;
}