@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

body{
background-image: url(kepek/egyeb/banner1.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
width: 893px;
height: 1138px;
}

header{
background-color: #1f5b25;
background-size: cover;
width: 100%;
padding: 15px;
position: fixed;
z-index: 5;
width: 893px;
height:6em;
}

.fejlec-gomb{
color: black;
font-size: 1.5em;
font-family: 'Roboto', sans-serif ;
background-color: silver;
border: 0px;
margin: 10px;
width: 6em;
}

.fejlec-szoveg{
color:white;
font-family: 'Roboto', sans-serif ;
font-size: 2em;   
text-decoration: none;
font-style: bold;
position: fixed;
right: 0;
}

.fejlec-logo{
width: 2em;
height: 2em;
}

.cim{
position: relative;
padding: 3em 0em 0em 4em;
color: white;
font-family: 'Inika';
font-size: 48px;
}





