body{   
background-color: white;
height: 1138px;
width: 885px;
}
    
header{
position: fixed;
height: 81px;
width: 885px;
background-color:#0D3509;
}
    
.fejlec-gomb{
background-color: white ;
width: 100pt;
height: 25pt;
font-size: 16pt;
font-family: 'Inika';
}
          
.fejlec-logo{
color:white;
font-family: 'Inika' ;
font-size: 28px;   
}
    
.banner{
background-image: url(kepek/egyeb/banner.png);
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
height: 885px;
width: 200px;
}

section{
background-color: antiquewhite;
width: 885px;
height: 656px; ;
padding:1px 0px 0px 0px;
}

h1{
font-size: 48px;
font-family: 'Inika';
text-align: center;
padding: 0px ;
color: black;
margin:10px 30px 10px 0px ;
}
   
.kaveszoveg{
color:white;
font-family: 'Inika';
font-size:24px;
text-align: center;
background-color: #D9D9D9;
padding:0;
margin:0px 58px 20px 40px ;
border-radius: 10px;
}
        
.kepek-kave{
border-radius: 10px;
border:1;
padding:0px 20px 0px 0px ;
margin:0px 40px;
border-radius: 10px;
}

footer{
background-color: #0D3509;
background-repeat: no-repeat;
}
    
.footerszoveg-kapcsolat1{
color:black;
font-family: 'Inika';
background-color:  #D9D9D9;
font-size: 28px; 
text-align: left;
margin:0px 90px 10px 0px;
padding: 0px 20px 0px 0px ;
}
    
.footerszoveg-kapcsolat2{
color:black;
font-family: 'Inika';
background-color:  #D9D9D9;
font-size:24px;
text-align: left;
margin:5px 0px 0px 0px ;
}
    
.footerszoveg-kavemagazin1{
color:black;
font-family: 'Inika';
background-color:  #D9D9D9;
font-size: 28px;
text-align: center;
margin:0px 130px 10px 110px ;
}
    
.footerszoveg-kavemagazin2{
color:black;
font-family: 'Inika';
background-color:  #D9D9D9;
font-size:24px;
text-align: right;
margin:0px 0px 10px 100px ;
}
    
.footerszoveg-kavemagazin3{
color:black;
font-family: 'Inika';
background-color:  #D9D9D9;
font-size:24px;
text-align: right;
margin:0px 0px 0px 100px ;
border-radius: 5px;
}


