.desktopmenü{
    width: 100%;
    height: 70px;
    margin-top: 0px;
    margin-left: 0px;
    background: #0D3509;
}


button {
    width: 200px;
    height: 40px;
    left: 48px;
    font-family: 'Inika';
    line-height: 41.7px;
    font-weight: 400;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.gombok {
    margin-left: 60px;
    margin-top: 15px;
    width: 200px;
    height: 40px;
    left: 48px;
    font-family: 'Inika';
    line-height: 41.7px;
    font-weight: 500;
    font-size: larger;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}


.logoszoveg {
    display: flex;
}

.logo {
    margin-top: 6px;
    margin-right: 10px;
    display: flex;
    float:right;
    cursor: pointer;
}

footer {
    background: #0D3509;
    width: 100%;
    height: 200px;
    bottom: 0px;
    position: absolute;
    
}

.kapcsolat {
    width: 135px;
    height: 40px;
    margin-left: 150px;
    margin-top: 13px;
    background: #D9D9D9;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    border: none;
}

.kapcsolat_mail {
    width: 300px;
    height: 30px;
    margin-left: 150px;
    margin-top: 16px;
    background: #D9D9D9;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    border: none;
}

.kapcsolat_oldal {
    width: 300px;
    height: 30px;
    margin-left: 150px;
    margin-top: 16px;
    background: #D9D9D9;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    border: none;
}

.kapcsolat_tel {
    width: 300px;
    height: 30px;
    margin-left: 150px;
    margin-top: 16px;
    background: #D9D9D9;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: left;
    border: none;
}

.kave_mag {
    width: 200px;
    height: 40px;
    margin: 13px 130px 10px 400px ;
    border-bottom: 20px;
    background: #D9D9D9;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    border: none;
}

.iratkozas {
    width: 400px;
    height: 40px;
    margin: 13px 130px 10px 400px ;
    border-bottom: 20px;
    background: #D9D9D9;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
    left: 52%;
    border: none;
}

.feliratkozom {
    width: 400px;
    height: 40px;
    margin: 13px 130px 10px 400px ;
    border-bottom: 20px;
    background: #D9D9D9;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    text-align: right;
    left: 52%;
    border: none;
}

.kavefajtak {
    text-align: center;
    margin-top: 5px;
}