.desktopmenü{
    width: 100%;
    height: 70px;
    margin-top: 0px;
    margin-left: 0px;
    background: #0D3509;
}


button {
    width: 200px;
    height: 40px;
    left: 48px;
    font-family: 'Inika';
    line-height: 41.7px;
    font-weight: 400;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.gombok {
    margin-left: 60px;
    margin-top: 15px;
    width: 200px;
    height: 40px;
    left: 48px;
    font-family: 'Inika';
    line-height: 41.7px;
    font-weight: 500;
    font-size: larger;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.logoszoveg {
    display: flex;
}

.logo {
    margin-top: 6px;
    margin-right: 10px;
    display: flex;
    float:right;
}
