@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

.backgroundcolor{
    background-color: #E4D6C6;
}

.maincím {
    text-align: center;
    margin-top: 10px;
}

.fejlec-szoveg{
    color:silver;
    font-family: 'Roboto', sans-serif ;
    font-size: 2em;   
    text-decoration: none;
    font-style: bold;
    float: right;
    right: 6px;
    }
    

.fejlec-logo{
    width: 2em;
    height: 2.5em;
}

.cím{
    position: absolute;
    width: 838px;
    height: 91px;
    left: -175px;
    top: 147px;

    font-family: 'Roboto,', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    text-align: center;

    color: #FFFFFF;
}

.desktopmenü{
    width: 100%;
    height: 70px;
    margin-top: 0px;
    margin-left: 0px;
    background: #1f5b25;
}


button {
    width: 200px;
    height: 40px;
    left: 48px;
    font-family: 'Roboto,', sans-serif;
    line-height: 41.7px;
    font-weight: 400;
    border: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.gombok_kul {
    background-color: #C0C0C0;
    margin-top: 15px;
    margin-left: 45px;
    width: 190px;
    height: 40px;
    left: 48px;
    font-family: 'Roboto,', sans-serif;
    line-height: 41.7px;
    font-weight: 500;
    font-size: larger;
}

.gombok {
    background-color: #C0C0C0;
    margin-left: 15px;
    margin-top: 15px;
    width: 190px;
    height: 40px;
    left: 48px;
    font-family: 'Roboto,', sans-serif;
    line-height: 41.7px;
    font-weight: 500;
    font-size: larger;
}

.banner {
    background-image: url(képek/fooldalkep.jpg);
    height: 203px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.kepek {
    height: 196px;
    width: 300px;
}

.kepek-cap {
    height: 196px;
    width: 300px;
    cursor: pointer;
}

.nevek-cap {
    text-align: center;
    background-color: #D9D9D9;
    width: 300px;
    font-weight: bold;
    cursor: pointer;
}


.kave-nevek {
    text-align: center;
    background-color: #D9D9D9;
    width: 300px;
    font-weight: bold;
}

footer {
    background-color: #1f5b25;
    height: 229px;
    width: 100%;
}

.kapcsolatok {
    text-align: center;
}

.magazin {
    text-align: center;
}

.kapcsp1 {
    background-color: #D9D9D9;
    margin-top: 12px;
    margin-left: 190px;
    width: 200px;
    font-family: 'Roboto,', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
}

.kapcsp {
    background-color: #D9D9D9;
    margin-bottom: 10px;
    margin-left: 210px;
    font-family: 'Roboto,', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
}

.main-gomb-k{
    background-color: #E4D6C6;
    width: 100%;
    height: 100px;
    }
    
    .main-gomb-l{
    border: 0;
    background-color: antiquewhite;
    width: 100%;
    }
    

.kave-mag {
    margin-top: 10px;
    background-color: #D9D9D9;
    margin-bottom: 12px;
    margin-left: 150px;
    font-family: 'Roboto,', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    width: 225px;
}

.feliratkozas {
    background-color: #D9D9D9;
    margin-bottom: 15px;
    margin-left: 150px;
    font-family: 'Roboto,', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 42px;
}

.feliratkozom {
    background-color: #D9D9D9;
    margin-bottom: 15px;
    margin-left: 150px;
    font-family: 'Roboto,', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    text-align: right;
}

.elhalvanyitott-oldal {
position: relative;
z-index: 2;
}

.elhalvanyitott-oldal::before{
content: "";
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7); /* Fekete szín 50%-os átlátszósággal */
z-index: -1;
}

.popup-tartalom{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
justify-content: center;
z-index: 5;
}

.popup-kocka1{
background-color: green;
width: 350px;
height: 400px;
color: white;
flex: 1;
padding: 0.5em;
max-width: 350px;   
}

.popup-kocka2{
background-color: antiquewhite;
width: 600px;
height: 400px;
flex: 1;
max-width: 600px;
padding: 0.3em;
}

.popup-cim{
color:white;
font-family: 'Roboto', sans-serif ;
font-size:3em;
}

.popup-kep{
width: 100%;
}

.popup-szoveg{
text-align: justify;
color: black;
font-family: 'Roboto', sans-serif ;
font-size: 1.5em;
padding: 5px;
}

.popup-visszagomb{
background-color: #1f5b25;
font-family: 'Roboto', sans-serif ;
font-size:2em;
color: white;
margin: 2em 0em 0em 14em;
}

.popup-tartalom-l{
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
justify-content: center;
z-index: 5;
}
    
.popup-kocka1-l{
background-color: #1f5b25;
width: 320px;
height: 400px;
color: white;
flex: 1;
padding: 0.5em;
max-width: 320px;   
}
    
.popup-kocka2-l{
background-color: antiquewhite;
width: 550px;
height: 400px;
flex: 1;
max-width: 550px;
padding: 0.3em;
}
    
.popup-cim-l{
color:white;
font-family: 'Roboto', sans-serif ;
font-size:3em;
margin: 0em 0em 0em 0em ;
}
    
.popup-kep-l{
width: 90%;
height: 100%;
}
    
.popup-szoveg-l{
text-align: justify;
color: black;
font-family: 'Roboto', sans-serif ;
font-size: 1.5em;
padding: 5px;
}
    
.popup-visszagomb-l{
background-color: #1f5b25;
font-family: 'Roboto', sans-serif ;
font-size:2em;
color: white;
}
    .popup-kocka2-l{
        width: 70%;
        font-size: 90%;
        height: 400px;
    }

    .popup-kep-l{
        width: 100%;
    }

    .popup-visszagomb-l{
        margin:1.5em 0em 0em 13em;
    }
    .popup-kocka2-l{
        width: 70%;
        font-size: 100%;
    }

    .popup-kep-l{
        width: 100%;
        height: 100px;
    }

    .popup-visszagomb-l{
        margin:1.7em 0em 0em 13em;
    }
    .popup-kocka2-l{
        width: 70%;
        font-size: 100%;
    }

    .popup-kep-l{
        width: 100%;
    }

    .popup-visszagomb-l{
        margin:2em 0em 0em 13em;
    }
    .popup-kocka2-l{
        width: 70%;
        font-size: 100%;
    }

    .popup-kep-l{
        padding-bottom: 40px;
        width: 100%;
        height: 75%;
    }

    .popup-visszagomb-l{
        margin:1.9em 0em 0em 10em;
        height: 50px;
    }

